@page "/"
@using BlazorApp1.Logic
@inject GameEngine Engine 
@rendermode InteractiveServer
<PageTitle>Super Farmer</PageTitle>

<h1>Twoja Farma</h1>

<div>
    <p>Króliki: <strong>@Engine.CurrentPlayer.Rabbits</strong></p>
    <p>Owce: <strong>@Engine.CurrentPlayer.Sheep</strong></p>
    <p>Swinie: <strong>@Engine.CurrentPlayer.Pigs</strong></p>
    <p>Krowy: <strong>@Engine.CurrentPlayer.Cows</strong></p>
    <p>Konie: <strong>@Engine.CurrentPlayer.Horses</strong></p>


</div>

<button class="btn btn-primary" @onclick="HandleRoll">Rzuć kośćmi</button>

@code {
    private void HandleRoll()
    {
        Engine.RollDice();
        
        StateHasChanged(); 
    }
}